<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avaliação 1</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header class="header1">
      <div class="logo">
        <img src="../static/image/logo.png" alt="" class="logo1" />
      </div>
      <div class="header2">
        <a class="header_inf" href="">Avaliações</a>
        <a class="header_inf" href="">Relatórios</a>
        <a class="header_inf" href=""
          >Normas <br />
          Avaliação</a
        >
        <a class="header_inf" href="">Sobre</a>
        <a class="login" href="">Entrar</a>
      </div>
    </header>
    <section class="section">
      <div class="textos">
        <div class="textos1">
          O acompanhamento de crianças e adolecentes com foco no seu bem-estar!
        </div>
        <div class="button">
          <a class="login1" href="">Saiba mais</a>
        </div>
      </div>
      <div class="fundo">
        <img src="../static/image/img-main.png" alt="" class="imagem_fundo" />
      </div>
    </section>
    <section>
      <div class="section-title">
        <h1>Avaliações</h1>
      </div>
      <section class="sectionmidle">
        <div class="container">
          <div class="section-card1">
              <div class="img1">
                  <img src="../static/image/img_card1.png">
              </div>
              <div class="title1">
                  <h1>Avaliação da Antropometria e   Composição Corporal</h1>
              </div>
              <div class="desc">
                  <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, dolore? Officiis aliquam inventore dolorum omnis cumque sequi, deleniti vero provident vel nemo officia dolor odit, doloribus error. Voluptates, iste nemo?</h3>
              
                  <div class="card-button">
                    <a class="card-select">Avalie</a>
                </div>  </div>
          </div>
          <div class="section-card2">
            <div class="img2">
                <img src="../static/image/img_card2.png">
            </div>
            <div class="title1">
                <h1>Avaliação IMC</h1>
            </div>
            <div class="desc">
                <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, dolore? Officiis aliquam inventore dolorum omnis cumque sequi, deleniti vero provident vel nemo officia dolor odit, doloribus error. Voluptates, iste nemo?</h3>
                <div class="card-button">
                    <a class="card-select" href="/avaliacao">Avalie</a>
                </div>
            </div>
          </div>
          <div class="section-card3">
            <div class="img3">
                <img src="../static/image/img_card3.png">
            </div>
            <div class="title1">
                <h1>Avaliação abnominais</h1>
            </div>
            <div class="desc">
                <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, dolore? Officiis aliquam inventore dolorum omnis cumque sequi, deleniti vero provident vel nemo officia dolor odit, doloribus error. Voluptates, iste nemo?</h3>
                <div class="card-button">
                    <a class="card-select">Avalie</a>
                </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <footer>
      <div class="cont">
        <a class="contacta">Contato</a>
        <img class = "mail" src="../static/image/icon-email.png" > </img>
        <img class = "home" src="../static/image/icon-home.png" >  </img>
      </div>
        <div class="text">
          <a class="hometext">Rua La Salle , 56 Xanxerê - Sc</a>
          <a class="mailtext">essencialmente@gmail.com</a>
        </div>
      </div>
      <div class="titleredes">
        <a >Redes Sociais</a>
      </div>
        <div class="redessoc">
          <img class="img10000" src="../static/image/icon-insta_1.png" alt="">
          <img src="../static/image/icon-whats.png" alt="">
          <img src="../static/image/icon-twitter_1.png" alt="">
        </div>
    </footer>
  </body>
</html>
